


body {
    width: auto;
    height: auto;
}

 .header {
  
padding: 5px;
    width: auto;
    background: #5bc5a7;
    border-bottom: 1px solid #48be9d;
    color: #fff;
    text-shadow: 0 -1px 0 #39a385;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.color
{
    background: #5bc5a7; 
    border: 0;

}
.main_class_create_group
{
    align-items: center;
    align-content: center;
}

.color:hover{
    background: #33aa88; 
}


.zero_margin
{
    margin: 0px;
    padding: 0px;
}


.header_image {
    height: 40px;
    
}


.input_for_profile {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
   
  }
  
  .input_for_profile:focus {
    outline: none;
  }


  .Edit_button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    outline:none;
    color: rgb(68, 56, 236);       
}

body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .react-autosuggest__suggestion-match {
    color: red;
    font-weight: bold;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
 

  #title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #33aa88; 
    color: white;
  }